/* -------------------------------------------------------------------------------
	Flaminwork CSS Framework
	
	Version:	0.1beta
	Encoding:	UTF-8
	Authors:	
		Juan G. Hurtado 	[juan.g.hurtado@gmail.com]
		Álvaro Fernández 	[creativo@alvarografico.es]
----------------------------------------------------------------------------------
	Table of contents
----------------------------------------------------------------------------------
	1.GLOBALS
		1.1.Reset styles
		1.2.Body
		1.3.Texts
		1.4.Lists
		1.5.Tables
		1.6.Forms
	2.CUSTOM
		2.1.Messages
		2.2.Clear floats
		2.3.Floats
		2.4.Hidden
		2.5.Displays
		2.6.Text alignment
		2.7.Positioning
	3.MARGINS AND PADDINGS
		3.1.Top
		3.2.Right
		3.3.Bottom
		3.4.Left
	4.GENERIC WIDTHS
	5.LAYOUTS
		5.1.Spacing after columns
		5.2.Spacing before columns
	6.PRINT
	7.INTERNET-EXPLORER
		7.1.IE6
		7.2.IE7
		7.3.IE8
		7.4.IE9
---------------------------------------------------------------------------------- */

/* =GLOBALS
---------------------------------------------------------------------------------- */

/* =|Reset styles
---------------------------------- */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	display: block;
	height: 1px;
	margin: 1em 0;
	padding: 0;
}

input, select {
	vertical-align: middle;
}

/* =|Body
------------- */
body {
	color: #444;
	font: 13px/1.231 Helvetica, Arial, sans-serif;
	*font-size: small;
	margin: 1.5em 2em;
}

/* =|Texts
------------- */
h1, h2, h3, h4, h5, h6, ul, ol, dl, p, table, fieldset, form {
	font-size: 1em;
	margin: 1.5em 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 2.3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.8333em;

}

h4 {
	font-size: 1.6666em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.3333em;
}

/* =|Lists
------------- */
ul, ol {
	margin-left: 1em;
}

	ul li {
		list-style-type: disc;
	}

	ol li {
		list-style-type: decimal;
	}

dl {
	border-bottom: 1px solid #ddd;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

	dl dt {
		border-top: 1px solid #ddd;
		clear: left;
		float: left;
		font-weight: bold;
		line-height: 1.4167em;
		margin: 0;
		padding: .7235em 0.5%;
		width: 20%;
	}

	dl dd {
		border-top: 1px solid #ddd;
		float: left;
		line-height: 1.4167em;
		margin: 0;
		padding: .7235em 0.5%;
		width: 77%;
	}

/* =|Tables
------------- */
table {
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin: 0;
	width: 100%;
}

	table th, table td {
		border-bottom: 1px solid #ccc;
		border-left: 1px solid #ccc;
		line-height: 1.4467em;
		padding: .36175em 0.25em;
		vertical-align: middle;
	}

	table th {
		background: #aaa;
		border-left: 1px solid #aaa;
		color: #fff;
		text-align: left;
	}

/* =|Forms
------------------ */
form {
	width: 100%;
}

	form p {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}

/* Group fields */
fieldset {
	border: 1px solid #ddd;
	margin: 1.4167em 0;
	padding: 0 0.5em;
}

	fieldset legend {
		font-size: 1em;
		font-weight: bold;
		padding: 0 0.25em;
	}

/* Labels */
label {
	cursor: pointer;
	display: block;
}

/* Fields */
button, input, select, textarea {
	margin: 0;
}

input[type=button], input[type=submit], button, input[type=text], input[type=password], textarea, select {
	border: 1px solid #a9a9a9;
	color: #555;
	font-size: 1em;
	font-family: inherit;
	padding: .354175em 0.15em;
}

/* Textareas */
textarea {
	height: 7.1em;
	overflow: auto;
}

/* Radio buttons and checkboxes */
.radio, .checkbox {
	margin-bottom: 1.45em;
	margin-top: 1.45em;
}

	.radio label, .checkbox label {
		display: inline-block;
	}

	.radio input, .checkbox input {
		border: none;
		height: auto;
		margin: 0;
		width: auto;
	}

/* Submit buttons */
.buttons {
	margin-bottom: 1.35em;
	margin-top: 1.35em;
}

input[type=button],
input[type=reset],
input[type=submit],
button {
	background: #E5E5E5;
	color: #333;
	cursor: pointer;
	font-size: 1.15em;
	height: auto;
	padding: 0.1em 0.25em;
	width: auto;
}

/* =CUSTOM
---------------------------------------------------------------------------------- */

/* =|Messages
--------------- */
/* Required mark */
.required {
	color: #8a1f11;
	font-style: italic;
	font-weight: bold;
}

/* Form component error message */
.error {
	color: #8a1f11;
	margin: 0 1em;
}

/* Form component hint */
.hint {
	color: #999;
	display: block;
	font-style: italic;
}

/* Global block messages */
div.msg, div.messages {
	border: 2px solid #ddd;
	margin: 1.4em 0;
	padding: .6333em 0.75em;
}

	/* Block error */
	div.msg.error. div.messages.error {
		background: #FBE3E4;
		border-color: #FBC2C4;
		color: #8a1f11;
	}

		div.msg.error a, div.messages.error a {
			color: #8a1f11;
		}

	/* Block success */
	div.msg.success, div.messages.success,
	div.status {
		background: #E6EFC2;
		border-color: #C6D880;
		color: #264409;
	}

		div.msg.success a, div.messages.success a,
		div.status a {
			color: #264409;
		}

	/* Block warning */
	div.msg.warning, div.messages.warning {
		background: #FFF6BF;
		border-color: #FFD324;
		color: #514721;
	}

		div.msg.warning a, div.messages.warning a {
			color: #514721;
		}

/* =|Clear floats
--------------------------------------------------- */
.clearfix:before, .clearfix:after,
.clear-block:before, .clear-block:after,
.group:before, .group:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after,
.clear-block:after,
.group:after {
	clear: both;
}

.clear {
	clear: both !important;
}

.clear-left {
	clear: left !important;
}

.clear-right {
	clear: right !important;
}

/* =|Floats
--------------- */
.left {
	float: left !important;
}

.right {
	float: right !important;
}

/* =|Hidden
------------------- */
.hide {
	display: block;
	height: 1px;
	left: -999em;
	outline: 0;
	position: absolute;
	text-indent: -999em;
	top: -999em;
	visibility: hidden;
	width: 1px;
}

/* =|Displays
------------------- */
.block, .display-block {
	display: block !important;
}

.inline, .display-inline {
	display: inline !important;
}

.inline-block, .display-inline-block {
	display: inline-block !important;
}

/* =|Text alignment
---------------------------- */
.text-align-right {
	text-align: right !important;
}

.text-align-left {
	text-align: left !important;
}

.text-align-center {
	text-align: center !important;
}

/* =|Positioning
----------------------- */
.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.position-static {
	position: static !important;
}

/* =MARGINS AND PADDINGS
---------------------------------------------------------------------------------- */
/* =|Top
------------- */
.margin-top-0   { margin-top: 0 !important;     }
.margin-top-0-5 { margin-top: 0.5em !important; }
.margin-top-1-0 { margin-top: 1em !important;   }
.margin-top-1-5 { margin-top: 1.5em !important; }
.margin-top-2-0 { margin-top: 2em !important;   }
.margin-top-2-5 { margin-top: 2.5em !important; }
.margin-top-3-0 { margin-top: 3em !important;   }
.margin-top-3-5 { margin-top: 3.5em !important; }
.margin-top-4-0 { margin-top: 4em !important;   }
.margin-top-4-5 { margin-top: 4.5em !important; }
.margin-top-5-0 { margin-top: 5em !important;   }

.padding-top-0   { padding-top: 0 !important;     }
.padding-top-0-5 { padding-top: 0.5em !important; }
.padding-top-1-0 { padding-top: 1em !important;   }
.padding-top-1-5 { padding-top: 1.5em !important; }
.padding-top-2-0 { padding-top: 2em !important;   }
.padding-top-2-5 { padding-top: 2.5em !important; }
.padding-top-3-0 { padding-top: 3em !important;   }
.padding-top-3-5 { padding-top: 3.5em !important; }
.padding-top-4-0 { padding-top: 4em !important;   }
.padding-top-4-5 { padding-top: 4.5em !important; }
.padding-top-5-0 { padding-top: 5em !important;   }

/* =|Right
-------------- */
.margin-right-0   { margin-right: 0 !important;     }
.margin-right-0-5 { margin-right: 0.5em !important; }
.margin-right-1-0 { margin-right: 1em !important;   }
.margin-right-1-5 { margin-right: 1.5em !important; }
.margin-right-2-0 { margin-right: 2em !important;   }
.margin-right-2-5 { margin-right: 2.5em !important; }
.margin-right-3-0 { margin-right: 3em !important;   }
.margin-right-3-5 { margin-right: 3.5em !important; }
.margin-right-4-0 { margin-right: 4em !important;   }
.margin-right-4-5 { margin-right: 4.5em !important; }
.margin-right-5-0 { margin-right: 5em !important;   }

.padding-right-0   { padding-right: 0 !important;     }
.padding-right-0-5 { padding-right: 0.5em !important; }
.padding-right-1-0 { padding-right: 1em !important;   }
.padding-right-1-5 { padding-right: 1.5em !important; }
.padding-right-2-0 { padding-right: 2em !important;   }
.padding-right-2-5 { padding-right: 2.5em !important; }
.padding-right-3-0 { padding-right: 3em !important;   }
.padding-right-3-5 { padding-right: 3.5em !important; }
.padding-right-4-0 { padding-right: 4em !important;   }
.padding-right-4-5 { padding-right: 4.5em !important; }
.padding-right-5-0 { padding-right: 5em !important;   }

/* =|Bottom
------------ */
.margin-bottom-0   { margin-bottom: 0 !important;     }
.margin-bottom-0-5 { margin-bottom: 0.5em !important; }
.margin-bottom-1-0 { margin-bottom: 1em !important;   }
.margin-bottom-1-5 { margin-bottom: 1.5em !important; }
.margin-bottom-2-0 { margin-bottom: 2em !important;   }
.margin-bottom-2-5 { margin-bottom: 2.5em !important; }
.margin-bottom-3-0 { margin-bottom: 3em !important;   }
.margin-bottom-3-5 { margin-bottom: 3.5em !important; }
.margin-bottom-4-0 { margin-bottom: 4em !important;   }
.margin-bottom-4-5 { margin-bottom: 4.5em !important; }
.margin-bottom-5-0 { margin-bottom: 5em !important;   }

.padding-bottom-0   { padding-bottom: 0 !important;     }
.padding-bottom-0-5 { padding-bottom: 0.5em !important; }
.padding-bottom-1-0 { padding-bottom: 1em !important;   }
.padding-bottom-1-5 { padding-bottom: 1.5em !important; }
.padding-bottom-2-0 { padding-bottom: 2em !important;   }
.padding-bottom-2-5 { padding-bottom: 2.5em !important; }
.padding-bottom-3-0 { padding-bottom: 3em !important;   }
.padding-bottom-3-5 { padding-bottom: 3.5em !important; }
.padding-bottom-4-0 { padding-bottom: 4em !important;   }
.padding-bottom-4-5 { padding-bottom: 4.5em !important; }
.padding-bottom-5-0 { padding-bottom: 5em !important;   }

/* =|Left
---------------- */
.margin-left-0   { margin-left: 0 !important;     }
.margin-left-0-5 { margin-left: 0.5em !important; }
.margin-left-1-0 { margin-left: 1em !important;   }
.margin-left-1-5 { margin-left: 1.5em !important; }
.margin-left-2-0 { margin-left: 2em !important;   }
.margin-left-2-5 { margin-left: 2.5em !important; }
.margin-left-3-0 { margin-left: 3em !important;   }
.margin-left-3-5 { margin-left: 3.5em !important; }
.margin-left-4-0 { margin-left: 4em !important;   }
.margin-left-4-5 { margin-left: 4.5em !important; }
.margin-left-5-0 { margin-left: 5em !important;   }

.padding-left-0   { padding-left: 0 !important;     }
.padding-left-0-5 { padding-left: 0.5em !important; }
.padding-left-1-0 { padding-left: 1em !important;   }
.padding-left-1-5 { padding-left: 1.5em !important; }
.padding-left-2-0 { padding-left: 2em !important;   }
.padding-left-2-5 { padding-left: 2.5em !important; }
.padding-left-3-0 { padding-left: 3em !important;   }
.padding-left-3-5 { padding-left: 3.5em !important; }
.padding-left-4-0 { padding-left: 4em !important;   }
.padding-left-4-5 { padding-left: 4.5em !important; }
.padding-left-5-0 { padding-left: 5em !important;   }


/* =GENERIC WIDTHS
---------------------------------------------------------------------------------- */
.width-01 { width: 1% !important;   }
.width-02 { width: 2% !important;   }
.width-03 { width: 3% !important;   }
.width-04 { width: 4% !important;   }
.width-05 { width: 5% !important;   }
.width-06 { width: 6% !important;   }
.width-07 { width: 7% !important;   }
.width-08 { width: 8% !important;   }
.width-09 { width: 9% !important;   }
.width-10 { width: 10% !important;  }
.width-11 { width: 11% !important;  }
.width-12 { width: 12% !important;  }
.width-13 { width: 13% !important;  }
.width-14 { width: 14% !important;  }
.width-15 { width: 15% !important;  }
.width-20 { width: 20% !important;  }
.width-21 { width: 21% !important;  }
.width-22 { width: 22% !important;  }
.width-23 { width: 23% !important;  }
.width-24 { width: 24% !important;  }
.width-25 { width: 25% !important;  }
.width-26 { width: 26% !important;  }
.width-27 { width: 27% !important;  }
.width-28 { width: 28% !important;  }
.width-29 { width: 29% !important;  }
.width-30 { width: 30% !important;  }
.width-31 { width: 31% !important;  }
.width-32 { width: 32% !important;  }
.width-33 { width: 33% !important;  }
.width-34 { width: 34% !important;  }
.width-35 { width: 35% !important;  }
.width-36 { width: 36% !important;  }
.width-37 { width: 37% !important;  }
.width-38 { width: 38% !important;  }
.width-39 { width: 39% !important;  }
.width-40 { width: 40% !important;  }
.width-41 { width: 41% !important;  }
.width-42 { width: 42% !important;  }
.width-43 { width: 43% !important;  }
.width-44 { width: 44% !important;  }
.width-45 { width: 45% !important;  }
.width-46 { width: 46% !important;  }
.width-47 { width: 47% !important;  }
.width-48 { width: 48% !important;  }
.width-49 { width: 49% !important;  }
.width-50 { width: 50% !important;  }
.width-51 { width: 51% !important;  }
.width-52 { width: 52% !important;  }
.width-53 { width: 53% !important;  }
.width-54 { width: 54% !important;  }
.width-55 { width: 55% !important;  }
.width-56 { width: 56% !important;  }
.width-57 { width: 57% !important;  }
.width-58 { width: 58% !important;  }
.width-59 { width: 59% !important;  }
.width-60 { width: 60% !important;  }
.width-61 { width: 61% !important;  }
.width-62 { width: 62% !important;  }
.width-63 { width: 63% !important;  }
.width-64 { width: 64% !important;  }
.width-65 { width: 65% !important;  }
.width-66 { width: 66% !important;  }
.width-67 { width: 67% !important;  }
.width-68 { width: 68% !important;  }
.width-69 { width: 69% !important;  }
.width-70 { width: 70% !important;  }
.width-71 { width: 71% !important;  }
.width-72 { width: 72% !important;  }
.width-73 { width: 73% !important;  }
.width-74 { width: 74% !important;  }
.width-75 { width: 75% !important;  }
.width-76 { width: 76% !important;  }
.width-77 { width: 77% !important;  }
.width-78 { width: 78% !important;  }
.width-79 { width: 79% !important;  }
.width-80 { width: 80% !important;  }
.width-81 { width: 81% !important;  }
.width-82 { width: 82% !important;  }
.width-83 { width: 83% !important;  }
.width-84 { width: 84% !important;  }
.width-85 { width: 85% !important;  }
.width-86 { width: 86% !important;  }
.width-87 { width: 87% !important;  }
.width-88 { width: 88% !important;  }
.width-89 { width: 89% !important;  }
.width-90 { width: 90% !important;  }
.width-91 { width: 91% !important;  }
.width-92 { width: 92% !important;  }
.width-93 { width: 93% !important;  }
.width-94 { width: 94% !important;  }
.width-95 { width: 95% !important;  }
.width-96 { width: 96% !important;  }
.width-97 { width: 97% !important;  }
.width-98 { width: 98% !important;  }
.width-99 { width: 99% !important;  }
.width-100 { width: 100% !important; }

/* =LAYOUTS
---------------------------------------------------------------------------------- */
.col {
	float: left;
}

/* =|Spacing after columns
------------------------------------ */
.prepend-01  { margin-left: 1% !important;   }
.prepend-02  { margin-left: 2% !important;   }
.prepend-03  { margin-left: 3% !important;   }
.prepend-04  { margin-left: 4% !important;   }
.prepend-05  { margin-left: 5% !important;   }
.prepend-06  { margin-left: 6% !important;   }
.prepend-07  { margin-left: 7% !important;   }
.prepend-08  { margin-left: 8% !important;   }
.prepend-09  { margin-left: 9% !important;   }
.prepend-10  { margin-left: 10% !important;  }
.prepend-11  { margin-left: 11% !important;  }
.prepend-12  { margin-left: 12% !important;  }
.prepend-13  { margin-left: 13% !important;  }
.prepend-14  { margin-left: 14% !important;  }
.prepend-15  { margin-left: 15% !important;  }
.prepend-20  { margin-left: 20% !important;  }
.prepend-21  { margin-left: 21% !important;  }
.prepend-22  { margin-left: 22% !important;  }
.prepend-23  { margin-left: 23% !important;  }
.prepend-24  { margin-left: 24% !important;  }
.prepend-25  { margin-left: 25% !important;  }
.prepend-26  { margin-left: 26% !important;  }
.prepend-27  { margin-left: 27% !important;  }
.prepend-28  { margin-left: 28% !important;  }
.prepend-29  { margin-left: 29% !important;  }
.prepend-30  { margin-left: 30% !important;  }
.prepend-31  { margin-left: 31% !important;  }
.prepend-32  { margin-left: 32% !important;  }
.prepend-33  { margin-left: 33% !important;  }
.prepend-34  { margin-left: 34% !important;  }
.prepend-35  { margin-left: 35% !important;  }
.prepend-36  { margin-left: 36% !important;  }
.prepend-37  { margin-left: 37% !important;  }
.prepend-38  { margin-left: 38% !important;  }
.prepend-39  { margin-left: 39% !important;  }
.prepend-40  { margin-left: 40% !important;  }
.prepend-41  { margin-left: 41% !important;  }
.prepend-42  { margin-left: 42% !important;  }
.prepend-43  { margin-left: 43% !important;  }
.prepend-44  { margin-left: 44% !important;  }
.prepend-45  { margin-left: 45% !important;  }
.prepend-46  { margin-left: 46% !important;  }
.prepend-47  { margin-left: 47% !important;  }
.prepend-48  { margin-left: 48% !important;  }
.prepend-49  { margin-left: 49% !important;  }
.prepend-50  { margin-left: 50% !important;  }
.prepend-51  { margin-left: 51% !important;  }
.prepend-52  { margin-left: 52% !important;  }
.prepend-53  { margin-left: 53% !important;  }
.prepend-54  { margin-left: 54% !important;  }
.prepend-55  { margin-left: 55% !important;  }
.prepend-56  { margin-left: 56% !important;  }
.prepend-57  { margin-left: 57% !important;  }
.prepend-58  { margin-left: 58% !important;  }
.prepend-59  { margin-left: 59% !important;  }
.prepend-60  { margin-left: 60% !important;  }
.prepend-61  { margin-left: 61% !important;  }
.prepend-62  { margin-left: 62% !important;  }
.prepend-63  { margin-left: 63% !important;  }
.prepend-64  { margin-left: 64% !important;  }
.prepend-65  { margin-left: 65% !important;  }
.prepend-66  { margin-left: 66% !important;  }
.prepend-67  { margin-left: 67% !important;  }
.prepend-68  { margin-left: 68% !important;  }
.prepend-69  { margin-left: 69% !important;  }
.prepend-70  { margin-left: 70% !important;  }
.prepend-71  { margin-left: 71% !important;  }
.prepend-72  { margin-left: 72% !important;  }
.prepend-73  { margin-left: 73% !important;  }
.prepend-74  { margin-left: 74% !important;  }
.prepend-75  { margin-left: 75% !important;  }
.prepend-76  { margin-left: 76% !important;  }
.prepend-77  { margin-left: 77% !important;  }
.prepend-78  { margin-left: 78% !important;  }
.prepend-79  { margin-left: 79% !important;  }
.prepend-80  { margin-left: 80% !important;  }
.prepend-81  { margin-left: 81% !important;  }
.prepend-82  { margin-left: 82% !important;  }
.prepend-83  { margin-left: 83% !important;  }
.prepend-84  { margin-left: 84% !important;  }
.prepend-85  { margin-left: 85% !important;  }
.prepend-86  { margin-left: 86% !important;  }
.prepend-87  { margin-left: 87% !important;  }
.prepend-88  { margin-left: 88% !important;  }
.prepend-89  { margin-left: 89% !important;  }
.prepend-90  { margin-left: 90% !important;  }
.prepend-91  { margin-left: 91% !important;  }
.prepend-92  { margin-left: 92% !important;  }
.prepend-93  { margin-left: 93% !important;  }
.prepend-94  { margin-left: 94% !important;  }
.prepend-95  { margin-left: 95% !important;  }
.prepend-96  { margin-left: 96% !important;  }
.prepend-97  { margin-left: 97% !important;  }
.prepend-98  { margin-left: 98% !important;  }
.prepend-99  { margin-left: 99% !important;  }
.prepend-100 { margin-left: 100% !important; }

/* =|Spacing before columns
-------------------------------------- */
.append-01  { margin-right: 1% !important;   }
.append-02  { margin-right: 2% !important;   }
.append-03  { margin-right: 3% !important;   }
.append-04  { margin-right: 4% !important;   }
.append-05  { margin-right: 5% !important;   }
.append-06  { margin-right: 6% !important;   }
.append-07  { margin-right: 7% !important;   }
.append-08  { margin-right: 8% !important;   }
.append-09  { margin-right: 9% !important;   }
.append-10  { margin-right: 10% !important;  }
.append-11  { margin-right: 11% !important;  }
.append-12  { margin-right: 12% !important;  }
.append-13  { margin-right: 13% !important;  }
.append-14  { margin-right: 14% !important;  }
.append-15  { margin-right: 15% !important;  }
.append-20  { margin-right: 20% !important;  }
.append-21  { margin-right: 21% !important;  }
.append-22  { margin-right: 22% !important;  }
.append-23  { margin-right: 23% !important;  }
.append-24  { margin-right: 24% !important;  }
.append-25  { margin-right: 25% !important;  }
.append-26  { margin-right: 26% !important;  }
.append-27  { margin-right: 27% !important;  }
.append-28  { margin-right: 28% !important;  }
.append-29  { margin-right: 29% !important;  }
.append-30  { margin-right: 30% !important;  }
.append-31  { margin-right: 31% !important;  }
.append-32  { margin-right: 32% !important;  }
.append-33  { margin-right: 33% !important;  }
.append-34  { margin-right: 34% !important;  }
.append-35  { margin-right: 35% !important;  }
.append-36  { margin-right: 36% !important;  }
.append-37  { margin-right: 37% !important;  }
.append-38  { margin-right: 38% !important;  }
.append-39  { margin-right: 39% !important;  }
.append-40  { margin-right: 40% !important;  }
.append-41  { margin-right: 41% !important;  }
.append-42  { margin-right: 42% !important;  }
.append-43  { margin-right: 43% !important;  }
.append-44  { margin-right: 44% !important;  }
.append-45  { margin-right: 45% !important;  }
.append-46  { margin-right: 46% !important;  }
.append-47  { margin-right: 47% !important;  }
.append-48  { margin-right: 48% !important;  }
.append-49  { margin-right: 49% !important;  }
.append-50  { margin-right: 50% !important;  }
.append-51  { margin-right: 51% !important;  }
.append-52  { margin-right: 52% !important;  }
.append-53  { margin-right: 53% !important;  }
.append-54  { margin-right: 54% !important;  }
.append-55  { margin-right: 55% !important;  }
.append-56  { margin-right: 56% !important;  }
.append-57  { margin-right: 57% !important;  }
.append-58  { margin-right: 58% !important;  }
.append-59  { margin-right: 59% !important;  }
.append-60  { margin-right: 60% !important;  }
.append-61  { margin-right: 61% !important;  }
.append-62  { margin-right: 62% !important;  }
.append-63  { margin-right: 63% !important;  }
.append-64  { margin-right: 64% !important;  }
.append-65  { margin-right: 65% !important;  }
.append-66  { margin-right: 66% !important;  }
.append-67  { margin-right: 67% !important;  }
.append-68  { margin-right: 68% !important;  }
.append-69  { margin-right: 69% !important;  }
.append-70  { margin-right: 70% !important;  }
.append-71  { margin-right: 71% !important;  }
.append-72  { margin-right: 72% !important;  }
.append-73  { margin-right: 73% !important;  }
.append-74  { margin-right: 74% !important;  }
.append-75  { margin-right: 75% !important;  }
.append-76  { margin-right: 76% !important;  }
.append-77  { margin-right: 77% !important;  }
.append-78  { margin-right: 78% !important;  }
.append-79  { margin-right: 79% !important;  }
.append-80  { margin-right: 80% !important;  }
.append-81  { margin-right: 81% !important;  }
.append-82  { margin-right: 82% !important;  }
.append-83  { margin-right: 83% !important;  }
.append-84  { margin-right: 84% !important;  }
.append-85  { margin-right: 85% !important;  }
.append-86  { margin-right: 86% !important;  }
.append-87  { margin-right: 87% !important;  }
.append-88  { margin-right: 88% !important;  }
.append-89  { margin-right: 89% !important;  }
.append-90  { margin-right: 90% !important;  }
.append-91  { margin-right: 91% !important;  }
.append-92  { margin-right: 92% !important;  }
.append-93  { margin-right: 93% !important;  }
.append-94  { margin-right: 94% !important;  }
.append-95  { margin-right: 95% !important;  }
.append-96  { margin-right: 96% !important;  }
.append-97  { margin-right: 97% !important;  }
.append-98  { margin-right: 98% !important;  }
.append-99  { margin-right: 99% !important;  }
.append-100 { margin-right: 100% !important; }


/* =PRINT
---------------------------------------------------------------------------------- */
@media print {
	* { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
	a, a:visited { color: #444 !important; text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; }
	tr, img { page-break-inside: avoid; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
}


/* =INTERNET-EXPLORER
---------------------------------------------------------------------------------- */
.ltie8 .clearfix,
.ltie8 .clear-block,
.ltie8 .group {
	zoom: 1;
}

.ltie8 legend {
	margin-left: -7px;
}

.ie button {
	overflow: visible;
	width: auto;
}

/* =|IE6
--------------------------------- */
.ie6 .col {
	display: inline;
}

/* =|IE7
--------------------------------- */
.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/* =|IE8
--------------------------------- */


/* =|IE9
--------------------------------- */